<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="presentations-search">
    <ion-searchbar placeholder="Buscar" type="text" debounce="500" (ionInput)="serchProduct($event)"></ion-searchbar>
  </div>
  <ion-list>
    <ion-list-header>
      Presentaciones
    </ion-list-header>
    <ion-item *ngFor="let datos of datos">
      <ion-thumbnail button (click)="addProduct(datos.id, datos.product_name, datos.presentation_product_description)" slot="start">
        <img [src]="datos.photo_mobile" />
      </ion-thumbnail>
      <ion-item button (click)="addProduct(datos.id, datos.product_name, datos.presentation_product_description)" class="presentations-label">
        <h5>{{datos.product_name}} {{datos.presentationName}} {{datos.salePrice}}$</h5>
      </ion-item>
      <ion-button *ngIf="!datos.add" (click)="addProductButton(datos.id)" class="add-btn"color="primary">
        <ion-icon class="add-icon" name="add-outline"></ion-icon>
      </ion-button>
      <div *ngIf="datos.add" class="presentations-number">
        <ion-button (click)="moreProduct(datos.id)" class="presentations-add" color="primary">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-input class="presentations-quantity" [(ngModel)]="datos.quantity" type="number"></ion-input>
        <ion-button class="presentations-remove" (click) ='lessProduct(datos.id)' color="primary">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()">
          <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
