ion-select {
    color: #5c696d;
}

ion-label {
    --color: #3a4042 !important;
}

.destinations-btn {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
    background: #fff;
}

.destinations-btn-two {
    width: 95%;
    --border-radius: 50px;
}

.destinations-back {
    --box-shadow: none;
}

.destinations-title {
    text-align: center;
}

.destinations-text {
    margin: 1rem 0.7rem;
}

.destinations-btn-d {
    text-align: center;
    margin: 1rem;
}

.destinations-btn-d ion-button {
    --border-radius: 50px;
}

.destinations-label {
    margin-left: 1rem;
}

.destinations-select {
    --background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}

.destinations-label2 {
    text-align: right;
}