<ion-header>
  <ion-toolbar color="primary">
      <ion-button class="directions-back" color="primary" slot="start" (click)="dismiss()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  
    <ion-title>Crear Direccion de Envío</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
   <ion-list>
        <ion-item>
          <ion-icon name="business-outline"></ion-icon>
          <ion-label>Ciudad</ion-label>
          <ion-select>
            <ion-select-option *ngFor="let data of city">{{data.City.cityName}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon name="navigate-outline"></ion-icon>
          <ion-textarea placeholder="Dirección"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-textarea placeholder="Nombre"></ion-textarea>
        </ion-item>
        
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input type="number" placeholder="Teléfono"></ion-input>
        </ion-item>
      </ion-list>
      <div class="directions-total">
        <ion-button class="directions-buy"color="primary" >
          Guardar
        </ion-button>
      </div>
</ion-content>
