<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Mis Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
          <ion-label>Pedido Casa 1</ion-label>
          <ion-button (click)="scan()"> QR</ion-button>
        </ion-item>
      
      </ion-list>

 
</ion-content>
