<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
         <ion-menu-button autoHide="false"></ion-menu-button>
       </ion-buttons>
   <ion-title>Ciudad</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/ciudad.png"></ion-img>
  <div class="locations-card">
    <ion-searchbar class="locations-search" placeholder="Buscar" type="text" debounce="500" (ionInput)="serchLocations($event)"></ion-searchbar>
  </div>
  <div class="locations-div-m">
    <ion-list class="locations-list" *ngFor="let datos of datos">
     
      <ion-item class="locations-labels" *ngFor="let city of datos.City" (click)="goCity(city.id,city.name,city.cityId)">
        <ion-label>{{city.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
