<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image1302-8-7-1-5.png"></ion-img>
      </div>
      <ion-label>Viveres</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image977-5-8-4-1.png"></ion-img>
      </div>
      <ion-label>Verduras</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image1302-8-7-1-5.png"></ion-img>
      </div>
      <ion-label>Carnes</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image1302-8-7-1-5.png"></ion-img>
      </div>
      <ion-label>Viveres</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image977-5-8-4-1.png"></ion-img>
      </div>
      <ion-label>Verduras</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div class="category-w-img">
        <ion-img src="../../assets/image1302-8-7-1-5.png"></ion-img>
      </div>
      <ion-label>Carnes</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,6)"></ion-checkbox>
      </div>
    </ion-item>
  </ion-list>
  <div class="category-w"></div>
  <div class="category-btn">
    <ion-button class="category-btn2" (click)="goCategoryProducts()" color="primary">Filtrar</ion-button>
  </div>
</ion-content>
