ion-content {
    --background:#fff;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
    color: #516169;
}

ion-label {
    position: absolute;
    color: #fff !important;
    left: 9vw;
    font-size: 22px !important;
    margin: auto;
    text-transform: uppercase;
}

ion-checkbox {
    --border-radius: 50%;
    --size: 27px;
}

ion-img {
    object-fit: cover;
    margin: 0.7rem;
    width: 114%;
    height: 12vh;
    filter: brightness(0.8);
}

ion-list {
    background:#f4f7f8;
    padding-top: 0;
}

ion-title {
    text-align: center;
}

ion-item {
    color: #656f73;
}

.category-w-img {
    width: 82%;
}

.category-search {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.category-search-c {
    color: #516169;
}

.category-label {
    position: absolute;
    color: #fff;
    top: 3rem;
    width: 100%;
    text-align: center;
}

.category-name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.category-btn {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
    background: #fff;
}

.category-btn2 {
    width: 91%;
    --border-radius: 50px;
}

.category-w {
    height: 11vh;
}