<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let datos of datos"> 
      <div class="category-w-img">
        <ion-img src="../../assets/image1302-8-7-1-5.png"></ion-img>
      </div>
      <ion-label>{{datos.categories_of_store_name}}</ion-label>
      <div>
        <ion-checkbox (click)="addcategory($event,datos.categories_of_store_id)"></ion-checkbox>
      </div>
    </ion-item>
  
  </ion-list>
  <div class="category-w"></div>
  <div class="category-btn">
    <ion-button class="category-btn2" (click)="goCategoryProducts()" color="primary">Filtrar</ion-button>
  </div>
</ion-content>
