<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Mis Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list *ngFor="let dato of datos; let index=index">
        <ion-item (click)="presentModal(dato.id, dato.Amount, dato.details, dato.observations, 
        dato.start_date_time, dato.tracking, dato.finish_date_time)">
          <ion-label>Pedido {{index+1}}</ion-label>
        </ion-item >
      </ion-list>
</ion-content>
