<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Mis Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list>
        <ion-item (click)="presentModal()">
          <ion-label>Pedido Casa 1</ion-label>
        </ion-item >
        <ion-item (click)="presentModal()">
          <ion-label>Pedido Casa 2</ion-label>
        </ion-item >
        <ion-item (click)="presentModal()">
          <ion-label>Pedido Casa 3</ion-label>
        </ion-item> 
        <ion-item (click)="presentModal()">
          <ion-label>Pedido Casa 4</ion-label>
        </ion-item>
    
      </ion-list>
</ion-content>
